*{
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
}

body{
    background-color: #f8f8ff;
}

.title{
    color:#105718;
    font-size: 3.4rem;
    text-align: center;
    margin-top: 40px;
    font-family: sans-serif;
}

header{
    text-align: center;
}

footer{
    background-color: #1F2821;
    height: 30vh;
}

.final-text{
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    font-family: sans-serif;
}


.lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }
  
  .ul {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  img{
    width: 300px;
    height: 300px;
    text-align: center;
    display: block;
    align-items: center;
  }


  #pesquisa {
    border-radius: 8px;
    color: #eaeaeb;
    width: 50%;
    height: 35px;
    
  }

  input::placeholder {
    text-indent: 10px; 
    opacity: 0.5; 
}

input {
    padding-left: 10px; 
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

img {
    max-width: 100%; 
}

