*{
    margin: 0;
    padding: 0;
    max-height: 100%;
}

/* Atividade 1*/

.itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-one{
    background-color: #FF9900;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circle-two{
    background-color: #0B5394;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

section{

}


/* Atividade 2*/


.container {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
}

.squares {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid;
}

.circle {
    align-self: flex-start;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: orange;
    border: 1px solid;
}

/* Atividade 3*/